<div
  class="projectCard animation-delay-[<%= 50 * idx + 250 %>ms] group flex w-full flex-row items-center rounded-2xl bg-white text-black opacity-0 transition hover:scale-105"
>
  <div class="flex w-full flex-row items-center p-5 pr-0">
    <img src="<%= image %>" class="max-h-32 w-32 rounded border-2 border-solid border-slate-200" />
    <div class="projectCardContent ml-5">
      <h6 class="text-lg font-medium"><%= title %></h6>
      <p class="mt-2"><%= description %></p>
    </div>
  </div>
  <a
    href="<%= link %>"
    title="<%= title %>"
    target="_blank"
    rel="noreferrer noopener"
    class="ml-1 block h-full w-8 rounded-2xl rounded-l-none bg-clip-content transition hover:bg-slate-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-full w-full -translate-x-[100%] opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m 9 20 6 -8 -6 -8" />
    </svg>
  </a>
</div>
