<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Vincent V">
    <meta property="og:image" content="/assets/images/logo-bg.svg">
    <meta property="og:description" content="CS Student @ Purdue University">

    <meta property="twitter:title" content="Vincent V">
    <meta property="twitter:description" content="CS Student @ Purdue University">
    <meta property="twitter:image" content="/assets/images/logo-bg.svg">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/logo.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo-bg.svg">

    <title>Vincent V</title>
  </head>
  <body class="bg-[#0D0F20] text-white">
    <canvas id="pixiCanvas" class="fixed left-0 top-0 -z-30 opacity-0"></canvas>
    <div id="blobBg" class="fixed left-0 top-0 -z-30 h-screen w-screen opacity-0">
      <div
        class="blob fixed z-[-10] aspect-square h-[60vh] origin-[30%_50%] animate-spin-slow rounded-full bg-gradient-to-r from-[#00C2FF] to-[#213941] blur-[200px] animation-duration-[5s]"
      ></div>
      <div
        class="blob fixed z-[-10] aspect-square h-[60vh] origin-[50%_70%] animate-spin-slow rounded-full bg-gradient-to-r from-[#00C2FF] to-[#213941] blur-[200px] animation-duration-[10s]"
      ></div>
    </div>
    <div id="bgOverlay" class="fixed -z-10 h-screen w-screen bg-[#0D0F20] opacity-0"></div>
    <nav id="navbar" class="fixed z-10 w-full bg-[#0D0F20] p-6 pl-9">
      <div class="flex flex-row gap-x-7 text-base font-medium">
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.5s] animation-duration-500 hover:scale-125"
          href="/#"
          >Home</a
        >
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.6s] animation-duration-500 hover:scale-125"
          href="/#about"
          >About</a
        >
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.7s] animation-duration-500 hover:scale-125"
          href="/"
          >Projects</a
        >
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.8s] animation-duration-500 hover:scale-125"
          href="/"
          >Contact</a
        >
      </div>
    </nav>
    {% comment %} container to control the opacity of entire thing {% endcomment %}
    <div id="buttonOverlayContainer">
      {% comment %} child controls the hover effects {% endcomment %}
      <div
        id="buttonOverlay"
        class="group/overlay fixed right-0 top-0 z-[99] flex animate-fade-in-left flex-col items-center justify-center p-6 opacity-0 animation-delay-[2s] animation-duration-500"
      >
        <button
          id="settingsBtn"
          class="rotate-90 rounded-full bg-[#0D0F20] bg-opacity-0 p-3 text-3xl transition duration-300 ease-in-out group-hover/overlay:rotate-0 group-hover/overlay:scale-125 group-hover/overlay:bg-opacity-90"
        >
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z"
            />
          </svg>
        </button>
        <div class="relative overflow-y-clip">
          <div
            class="flex -translate-y-full scale-75 flex-col items-center rounded-b-full bg-[#0D0F20] bg-opacity-0 p-2 pb-4 pt-2 opacity-0 transition group-hover/overlay:translate-y-0 group-hover/overlay:scale-100 group-hover/overlay:bg-opacity-90 group-hover/overlay:opacity-100"
          >
            <button
              id="waveSettingBtn"
              class="group/waveBtn relative text-2xl transition"
              onclick="changeTheme('waves')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-waves hover:scale-125 hover:opacity-70"
              >
                <path d="M2 6c.6.5 1.2 1 2.5 1C7 7 7 5 9.5 5c2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
                <path d="M2 12c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
                <path d="M2 18c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/waveBtn:pointer-events-auto group-hover/waveBtn:opacity-100"
              >
                Waves!
              </span>
            </button>
            <button
              id="starSettingBtn"
              title="Stars!"
              class="group/starsBtn relative mt-2 text-2xl"
              onclick="changeTheme('stars')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="white"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-sparkles transition hover:scale-125 hover:opacity-70"
              >
                <path
                  d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
                />
                <path d="M5 3v4" />
                <path d="M19 17v4" />
                <path d="M3 5h4" />
                <path d="M17 19h4" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/starsBtn:pointer-events-auto group-hover/starsBtn:opacity-100"
              >
                Stars!
              </span>
            </button>
            <!--
              <button
                title="Flow Field!"
                class="group/flowBtn relative mt-2 text-2xl"
                onclick="changeTheme('flowField')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-wind transition hover:scale-125 hover:opacity-70"
                >
                  <path d="M17.7 7.7a2.5 2.5 0 1 1 1.8 4.3H2" />
                  <path d="M9.6 4.6A2 2 0 1 1 11 8H2" />
                  <path d="M12.6 19.4A2 2 0 1 0 14 16H2" />
                </svg>
                <span
                  class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-32 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/flowBtn:pointer-events-auto group-hover/flowBtn:opacity-100"
                >
                  Flow Field!
                </span>
              </button>
            -->
            <button title="Blob" class="group/blobBtn relative mt-2 text-2xl" onclick="changeTheme('blob')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="white"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-cloud rotate-45 transition hover:scale-125 hover:opacity-70"
              >
                <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/blobBtn:pointer-events-auto group-hover/blobBtn:opacity-100"
              >
                Blob
              </span>
            </button>
            <button title="No Theme" class="group/noneBtn relative mt-3 text-2xl" onclick="changeTheme('none')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 512 512"
                class="fill-white transition hover:scale-125 hover:opacity-70"
              >
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"
                />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-24 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/noneBtn:pointer-events-auto group-hover/noneBtn:opacity-100"
              >
                No Theme
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <section id="intro" class="flex h-screen w-full items-center justify-center">
      <div id="hero" class="relative flex w-fit flex-row items-center justify-center">
        <svg
          id="logoInit"
          width="175"
          class="invisible relative left-1/2 z-10 overflow-visible py-4"
          viewBox="0 0 65 54"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="logoBottom"
            class="drop-shadow-lg"
            d="M27.2926 52.6568L7 8H20.5494L28.8681 27.011C29.1202 27.6065 29.4773 28.4145 29.9395 29.4353C30.4436 30.456 30.9688 31.6469 31.515 33.0078C32.1032 34.3263 32.6704 35.751 33.2165 37.2821C33.7627 38.8132 34.2459 40.4081 34.666 42.0668H32.0822C32.7124 40.0253 33.3636 38.1327 34.0358 36.389C34.75 34.6027 35.4433 32.944 36.1155 31.4129C36.8297 29.8818 37.4389 28.4571 37.9431 27.1386L46.1357 8H59.3701L39.5816 52.6568H27.2926Z"
            fill="#213941"
          />
          <path
            id="logoMiddle"
            class="drop-shadow-lg"
            d="M26.8954 52.752L5 5H19.6196L28.5954 25.3287C28.8674 25.9654 29.2527 26.8295 29.7514 27.921C30.2954 29.0124 30.862 30.2858 31.4513 31.7411C32.086 33.151 32.698 34.6745 33.2873 36.3117C33.8766 37.9489 34.3979 39.6543 34.8512 41.428H32.0633C32.7433 39.245 33.4459 37.2212 34.1713 35.3566C34.9419 33.4466 35.6899 31.6729 36.4152 30.0357C37.1858 28.3985 37.8432 26.875 38.3871 25.4652L47.2269 5H61.5066L40.1551 52.752H26.8954Z"
            fill="#396572"
          />
          <path
            id="logoTop"
            class="drop-shadow-lg"
            d="M25.4743 52.8763L25.6082 53.1673H25.9285H40.1373H40.4611L40.5935 52.872L63.4734 1.86602L63.7894 1.16138H63.0172H47.7154H47.3871L47.2566 1.46257L37.7841 23.3223L37.7801 23.3313L37.7766 23.3406C37.1987 24.8334 36.4993 26.4496 35.6776 28.1896L35.6775 28.1895L35.6728 28.2C34.893 29.9546 34.0893 31.8543 33.2617 33.899L33.2617 33.899L33.2594 33.9048C33.1927 34.0757 33.1262 34.2477 33.0599 34.421C32.4838 32.8593 31.8873 31.3948 31.2702 30.0277C30.6378 28.4714 30.0277 27.1045 29.4399 25.9282C28.908 24.7675 28.4982 23.8514 28.2098 23.1784L28.2098 23.1784L28.2073 23.1728L18.5891 1.45888L18.4573 1.16138H18.1319H2.46581H1.68544L2.01156 1.87033L25.4743 52.8763Z"
            fill="#00C2FF"
            stroke="#00C2FF"
          ></path>
          <path
            id="logoStroke"
            class="fill-none"
            d="M25.4743 52.8763L25.6082 53.1673H25.9285H40.1373H40.4611L40.5935 52.872L63.4734 1.86602L63.7894 1.16138H63.0172H47.7154H47.3871L47.2566 1.46257L37.7841 23.3223L37.7801 23.3313L37.7766 23.3406C37.1987 24.8334 36.4993 26.4496 35.6776 28.1896L35.6775 28.1895L35.6728 28.2C34.893 29.9546 34.0893 31.8543 33.2617 33.899L33.2617 33.899L33.2594 33.9048C33.1927 34.0757 33.1262 34.2477 33.0599 34.421C32.4838 32.8593 31.8873 31.3948 31.2702 30.0277C30.6378 28.4714 30.0277 27.1045 29.4399 25.9282C28.908 24.7675 28.4982 23.8514 28.2098 23.1784L28.2098 23.1784L28.2073 23.1728L18.5891 1.45888L18.4573 1.16138H18.1319H2.46581H1.68544L2.01156 1.87033L25.4743 52.8763Z"
            stroke="#00C2FF"
          />
        </svg>
        <div
          id="heroSeparator"
          class="mx-12 origin-center scale-y-0 self-stretch rounded border-l-4 border-white"
        ></div>
        <div class="px-2 py-4">
          <div id="heroText" class="opacity-0">
            <h1 id="heroTitle" class="text-6xl font-semibold">Vincent V</h1>
            <div class="mt-5">
              <div id="heroDesc" class="opacity-0">
                <h3 id="subtitle" class="pl-1 text-lg font-medium">CS Master's @ Purdue University</h3>
                <div id="links" class="mt-5 pl-0.5 text-4xl">
                  <a
                    class="group relative inline-block hover:cursor-pointer"
                    href="https://github.com/vivCoding"
                    title="View my GitHub"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="fill-white transition group-hover:scale-125 group-hover:opacity-70"
                      height="1em"
                      viewBox="0 0 496 512"
                    >
                      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                      <path
                        d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
                      />
                    </svg>
                    <span
                      class="pointer-events-none absolute left-1/2 top-full mt-3 block w-24 -translate-x-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:left-1/2 after:top-0 after:-translate-x-1/2 after:-translate-y-full after:border-x-8 after:border-b-8 after:border-x-transparent after:border-b-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover:pointer-events-auto group-hover:opacity-100"
                    >
                      View my GitHub
                    </span>
                  </a>
                  <a
                    class="group relative inline-block hover:cursor-pointer"
                    href="https://www.linkedin.com/in/vincent-v-"
                    title="View my LinkedIn"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="fill-white transition group-hover:scale-125 group-hover:opacity-70"
                      height="1em"
                      viewBox="0 0 448 512"
                    >
                      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                      <path
                        d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                      />
                    </svg>
                    <span
                      class="pointer-events-none absolute left-1/2 top-full mt-3 block w-24 -translate-x-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:left-1/2 after:top-0 after:-translate-x-1/2 after:-translate-y-full after:border-x-8 after:border-b-8 after:border-x-transparent after:border-b-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover:pointer-events-auto group-hover:opacity-100"
                    >
                      View my LinkedIn
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="-mt-20 min-h-[80vh] px-32">
      <div class="">
        <h1 class="group mb-16 w-fit text-7xl font-medium">
          <span class="about-line-word text-appear animation-delay-[0ms]">About</span>
          <span class="about-line-word text-appear animation-delay-[250ms]">Me</span>
          <span
            id="about-line-emoji"
            class="text-appear -ml-8 origin-bottom-right animate-wave animation-delay-[500ms] animation-duration-500 group-hover:animate-[wave_infinite]"
            >👋</span
          >
        </h1>
        {% assign delay = 500 %}
        {% for sentence in about.description %}
          {% assign words = sentence | split: " " %}
          <p class="my-14 text-4xl">
            {% for word in words %}
              <span class="about-line-word text-appear animation-delay-[{{- delay -}}ms]">
                {{ word }}
              </span>
              {% assign delay = delay | plus: 50 %}
            {% endfor %}
          </p>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
      </div>
    </section>
    <section id="projects" class="my-20 min-h-[80vh] px-32">
      <h1 class="group w-fit text-7xl font-medium">
        <span class="projects-line-word text-appear">Projects</span>
        <span
          id="projects-line-emoji"
          class="text-appear -ml-6 animate-bop animation-delay-[250ms] animation-duration-1000 group-hover:animate-[bop_infinite]"
        >
          👨‍💻
        </span>
      </h1>
      <h5 class="mt-10 text-xl">
        {% assign text = "A collection of my works, big and small" | split: " " %}
        {% for word in text %}
          <span class="projects-line-word text-appear animation-delay-[{{- forloop.index0 | times: 50 | plus: 250 -}}ms]">
            {{ word }}
          </span>
        {% endfor %}
      </h5>
      <div id="projectsList" class="mt-8 grid grid-cols-2 gap-8" x-data="projectsData">
        {% for project in projects %}
          <div
            class="projectCard animation-delay-[{{ forloop.index0 |  times: 50 |  plus: 250 }}ms] group flex w-full flex-row items-center rounded-2xl bg-white text-black opacity-0 transition hover:scale-105"
          >
            <div class="flex w-full flex-row items-center p-5 pr-0">
              <img src="{{ project.image }}" class="max-h-32 w-32 rounded border-2 border-solid border-slate-200">
              <div class="projectCardContent ml-5">
                <h6 class="text-lg font-medium">{{ project.title }}</h6>
                <p class="mt-2">{{ project.description }}</p>
              </div>
            </div>
            <a
              href="{{ project.link }}"
              title="{{ project.title }}"
              target="_blank"
              rel="noreferrer noopener"
              class="ml-1 block h-full w-8 rounded-2xl rounded-l-none bg-clip-content transition hover:bg-slate-200"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full -translate-x-[100%] opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m 9 20 6 -8 -6 -8" />
              </svg>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
    <section id="contact" class="my-20 px-32">
      <h1 class="group w-fit text-7xl font-medium">
        <span class="contact-line-word text-appear">Contact</span>
        <span id="contact-line-emoji" class="text-appear -ml-10 animation-delay-[250ms]">
          <span class="inline-block -translate-y-2">
            <span class="inline-block group-hover:animate-swoosh">📨</span>
          </span>
        </span>
      </h1>
      <h6 class="mt-8 text-xl">
        {% assign text = "Send me a message!" | split: " " %}
        {% for word in text %}
          <span class="contact-line-word text-appear animation-delay-[{{ forloop.index0 | times: 50 | plus: 250  }}ms]">
            {{- word -}}
          </span>
        {% endfor %}
      </h6>
    </section>
  </body>
  <script type="module" src="/scripts/index.ts"></script>
</html>
