{% comment %}
  TODO make no js friendly
  TODO make screen reader friendly (add aria attributes)
  TODO consider breaking sections up to separate components
{% endcomment %}
<!doctype html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Vincent V">
    <meta property="og:image" content="/assets/images/logo-bg.png">
    <meta property="og:description" content="CS Master's @ Purdue University">

    <meta property="twitter:title" content="Vincent V">
    <meta property="twitter:description" content="CS Master's @ Purdue University">
    <meta property="twitter:image" content="/assets/images/logo-bg.png">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/logo.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo-bg.svg">

    <title>Vincent V</title>
  </head>
  <body class="bg-[#0D0F20] font-mono text-white">
    <canvas id="pixiCanvas" class="fixed left-0 top-0 -z-30 opacity-0 motion-reduce:hidden"></canvas>
    <div id="blobBg" class="fixed left-0 top-0 -z-30 h-screen w-screen opacity-0 motion-reduce:hidden">
      <div
        class="blob fixed z-[-10] aspect-square h-[60vh] origin-[30%_50%] animate-spin-slow rounded-full bg-gradient-to-r from-[#00C2FF] to-[#213941] blur-[200px] animation-duration-[5s]"
      ></div>
      <div
        class="blob fixed z-[-10] aspect-square h-[60vh] origin-[50%_70%] animate-spin-slow rounded-full bg-gradient-to-r from-[#00C2FF] to-[#213941] blur-[200px] animation-duration-[10s]"
      ></div>
    </div>
    <div id="bgOverlay" class="fixed -z-10 h-screen w-screen bg-[#0D0F20] opacity-0 motion-reduce:hidden"></div>
    <nav id="navbar" class="fixed z-10 w-full bg-[#0D0F20] p-6 sm:pl-9">
      <div class="flex flex-row justify-center gap-x-7 text-base font-medium sm:justify-start">
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.5s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
          href="#"
          >Home</a
        >
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.6s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
          href="#about"
          >About</a
        >
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.7s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
          href="#projects"
          >Projects</a
        >
        <a
          class="navbarLink inline-block animate-fade-in-down opacity-0 transition animation-delay-[1.8s] animation-duration-500 hover:scale-125 motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:hover:scale-100"
          href="#contact"
          >Contact</a
        >
      </div>
    </nav>
    {% comment %} container to control the opacity of entire thing {% endcomment %}
    <div id="buttonOverlayContainer" class="motion-reduce:hidden">
      {% comment %} child controls the hover effects {% endcomment %}
      <div
        id="buttonOverlay"
        class="group/overlay fixed bottom-0 right-0 top-auto z-[99] flex animate-fade-in-left flex-col items-center justify-center p-6 opacity-0 animation-delay-[2s] animation-duration-500 sm:bottom-auto sm:top-0"
      >
        {% comment %} theme menu above settings btn (for smaller devices) {% endcomment %}
        <div class="relative block overflow-y-clip sm:hidden">
          <div
            class="flex translate-y-full scale-75 flex-col items-center rounded-t-full bg-[#0D0F20] bg-opacity-0 p-2 pb-2 pt-4 opacity-0 transition group-hover/overlay:translate-y-0 group-hover/overlay:scale-100 group-hover/overlay:bg-opacity-90 group-hover/overlay:opacity-100 group-active/overlay:translate-y-0 group-active/overlay:scale-100 group-active/overlay:bg-opacity-90 group-active/overlay:opacity-100"
          >
            <button
              id="waveSettingBtn"
              class="group/waveBtn relative text-lg transition sm:text-2xl"
              onclick="changeTheme('waves')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-waves hover:scale-125 hover:opacity-70"
              >
                <path d="M2 6c.6.5 1.2 1 2.5 1C7 7 7 5 9.5 5c2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
                <path d="M2 12c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
                <path d="M2 18c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/waveBtn:pointer-events-auto group-hover/waveBtn:opacity-100"
              >
                Waves!
              </span>
            </button>
            <button
              id="starSettingBtn"
              title="Stars!"
              class="group/starsBtn relative mt-2 text-lg sm:text-2xl"
              onclick="changeTheme('stars')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="white"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-sparkles transition hover:scale-125 hover:opacity-70"
              >
                <path
                  d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
                />
                <path d="M5 3v4" />
                <path d="M19 17v4" />
                <path d="M3 5h4" />
                <path d="M17 19h4" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/starsBtn:pointer-events-auto group-hover/starsBtn:opacity-100"
              >
                Stars!
              </span>
            </button>
            {% comment %}
              <button
                title="Flow Field!"
                class="group/flowBtn relative mt-2 text-2xl"
                onclick="changeTheme('flowField')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-wind transition hover:scale-125 hover:opacity-70"
                >
                  <path d="M17.7 7.7a2.5 2.5 0 1 1 1.8 4.3H2" />
                  <path d="M9.6 4.6A2 2 0 1 1 11 8H2" />
                  <path d="M12.6 19.4A2 2 0 1 0 14 16H2" />
                </svg>
                <span
                  class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-32 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/flowBtn:pointer-events-auto group-hover/flowBtn:opacity-100"
                >
                  Flow Field!
                </span>
              </button>
            {% endcomment %}
            <button
              title="Blob"
              class="group/blobBtn relative mt-2 text-lg sm:text-2xl"
              onclick="changeTheme('blob')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="white"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-cloud rotate-45 transition hover:scale-125 hover:opacity-70"
              >
                <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/blobBtn:pointer-events-auto group-hover/blobBtn:opacity-100"
              >
                Blob
              </span>
            </button>
            <button
              title="No Theme"
              class="group/noneBtn relative mt-3 text-lg sm:text-2xl"
              onclick="changeTheme('none')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 512 512"
                class="fill-white transition hover:scale-125 hover:opacity-70"
              >
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"
                />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-24 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/noneBtn:pointer-events-auto group-hover/noneBtn:opacity-100"
              >
                No Theme
              </span>
            </button>
          </div>
        </div>
        <button
          id="settingsBtn"
          class="z-10 rotate-90 rounded-full bg-[#0D0F20] bg-opacity-0 p-3 text-3xl transition duration-300 ease-in-out group-hover/overlay:rotate-0 group-hover/overlay:scale-125 group-hover/overlay:bg-opacity-90  group-active/overlay:rotate-0  group-active/overlay:scale-125  group-active/overlay:bg-opacity-90"
        >
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z"
            />
          </svg>
        </button>
        {% comment %} theme menu below settings btn (for larger devices) {% endcomment %}
        <div class="relative hidden overflow-y-clip sm:block">
          <div
            class="flex -translate-y-full scale-75 flex-col items-center rounded-b-full bg-[#0D0F20] bg-opacity-0 p-2 pb-4 pt-2 opacity-0 transition group-hover/overlay:translate-y-0 group-hover/overlay:scale-100 group-hover/overlay:bg-opacity-90 group-hover/overlay:opacity-100"
          >
            <button
              id="waveSettingBtn"
              class="group/waveBtn relative text-2xl"
              onclick="changeTheme('waves')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-waves transition hover:scale-125 hover:opacity-70"
              >
                <path d="M2 6c.6.5 1.2 1 2.5 1C7 7 7 5 9.5 5c2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
                <path d="M2 12c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
                <path d="M2 18c.6.5 1.2 1 2.5 1 2.5 0 2.5-2 5-2 2.6 0 2.4 2 5 2 2.5 0 2.5-2 5-2 1.3 0 1.9.5 2.5 1" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/waveBtn:pointer-events-auto group-hover/waveBtn:opacity-100"
              >
                Waves!
              </span>
            </button>
            <button
              id="starSettingBtn"
              title="Stars!"
              class="group/starsBtn relative mt-2 text-2xl"
              onclick="changeTheme('stars')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="white"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-sparkles transition hover:scale-125 hover:opacity-70"
              >
                <path
                  d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
                />
                <path d="M5 3v4" />
                <path d="M19 17v4" />
                <path d="M3 5h4" />
                <path d="M17 19h4" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/starsBtn:pointer-events-auto group-hover/starsBtn:opacity-100"
              >
                Stars!
              </span>
            </button>
            {% comment %}
              <button
                title="Flow Field!"
                class="group/flowBtn relative mt-2 text-2xl"
                onclick="changeTheme('flowField')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-wind transition hover:scale-125 hover:opacity-70"
                >
                  <path d="M17.7 7.7a2.5 2.5 0 1 1 1.8 4.3H2" />
                  <path d="M9.6 4.6A2 2 0 1 1 11 8H2" />
                  <path d="M12.6 19.4A2 2 0 1 0 14 16H2" />
                </svg>
                <span
                  class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-32 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/flowBtn:pointer-events-auto group-hover/flowBtn:opacity-100"
                >
                  Flow Field!
                </span>
              </button>
            {% endcomment %}
            <button title="Blob" class="group/blobBtn relative mt-2 text-2xl" onclick="changeTheme('blob')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 24 24"
                fill="white"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-cloud rotate-45 transition hover:scale-125 hover:opacity-70"
              >
                <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z" />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-16 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/blobBtn:pointer-events-auto group-hover/blobBtn:opacity-100"
              >
                Blob
              </span>
            </button>
            <button
              title="No Theme"
              class="group/noneBtn relative mt-3 text-2xl"
              onclick="changeTheme('none')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 512 512"
                class="fill-white transition hover:scale-125 hover:opacity-70"
              >
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"
                />
              </svg>
              <span
                class="pointer-events-none absolute left-0 top-1/2 -ml-4 inline-block w-24 -translate-x-full -translate-y-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:translate-x-full after:border-y-8 after:border-l-8 after:border-y-transparent after:border-l-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover/noneBtn:pointer-events-auto group-hover/noneBtn:opacity-100"
              >
                No Theme
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <section id="intro" class="flex h-screen w-full items-center justify-center">
      <div id="hero" class="relative flex w-fit flex-row items-center justify-center px-8">
        <svg
          id="logoInit"
          width="175"
          class="invisible relative left-1/2 z-10 w-[110px] overflow-visible py-4 motion-reduce:visible motion-reduce:left-0 motion-reduce:z-0 motion-reduce:rotate-3 sm:w-[145px] lg:w-[175px]"
          viewBox="0 0 65 54"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="logoBottom"
            class="drop-shadow-lg motion-reduce:translate-x-[5px] motion-reduce:translate-y-[5px]"
            d="M27.2926 52.6568L7 8H20.5494L28.8681 27.011C29.1202 27.6065 29.4773 28.4145 29.9395 29.4353C30.4436 30.456 30.9688 31.6469 31.515 33.0078C32.1032 34.3263 32.6704 35.751 33.2165 37.2821C33.7627 38.8132 34.2459 40.4081 34.666 42.0668H32.0822C32.7124 40.0253 33.3636 38.1327 34.0358 36.389C34.75 34.6027 35.4433 32.944 36.1155 31.4129C36.8297 29.8818 37.4389 28.4571 37.9431 27.1386L46.1357 8H59.3701L39.5816 52.6568H27.2926Z"
            fill="#213941"
          />
          <path
            id="logoMiddle"
            class="drop-shadow-lg motion-reduce:translate-x-[2px] motion-reduce:translate-y-[3px]"
            d="M26.8954 52.752L5 5H19.6196L28.5954 25.3287C28.8674 25.9654 29.2527 26.8295 29.7514 27.921C30.2954 29.0124 30.862 30.2858 31.4513 31.7411C32.086 33.151 32.698 34.6745 33.2873 36.3117C33.8766 37.9489 34.3979 39.6543 34.8512 41.428H32.0633C32.7433 39.245 33.4459 37.2212 34.1713 35.3566C34.9419 33.4466 35.6899 31.6729 36.4152 30.0357C37.1858 28.3985 37.8432 26.875 38.3871 25.4652L47.2269 5H61.5066L40.1551 52.752H26.8954Z"
            fill="#396572"
          />
          <path
            id="logoTop"
            class="drop-shadow-lg motion-reduce:translate-x-[-2px] motion-reduce:translate-y-[-3px]"
            d="M25.4743 52.8763L25.6082 53.1673H25.9285H40.1373H40.4611L40.5935 52.872L63.4734 1.86602L63.7894 1.16138H63.0172H47.7154H47.3871L47.2566 1.46257L37.7841 23.3223L37.7801 23.3313L37.7766 23.3406C37.1987 24.8334 36.4993 26.4496 35.6776 28.1896L35.6775 28.1895L35.6728 28.2C34.893 29.9546 34.0893 31.8543 33.2617 33.899L33.2617 33.899L33.2594 33.9048C33.1927 34.0757 33.1262 34.2477 33.0599 34.421C32.4838 32.8593 31.8873 31.3948 31.2702 30.0277C30.6378 28.4714 30.0277 27.1045 29.4399 25.9282C28.908 24.7675 28.4982 23.8514 28.2098 23.1784L28.2098 23.1784L28.2073 23.1728L18.5891 1.45888L18.4573 1.16138H18.1319H2.46581H1.68544L2.01156 1.87033L25.4743 52.8763Z"
            fill="#00C2FF"
            stroke="#00C2FF"
          ></path>
          <path
            id="logoStroke"
            class="fill-none motion-reduce:stroke-none"
            d="M25.4743 52.8763L25.6082 53.1673H25.9285H40.1373H40.4611L40.5935 52.872L63.4734 1.86602L63.7894 1.16138H63.0172H47.7154H47.3871L47.2566 1.46257L37.7841 23.3223L37.7801 23.3313L37.7766 23.3406C37.1987 24.8334 36.4993 26.4496 35.6776 28.1896L35.6775 28.1895L35.6728 28.2C34.893 29.9546 34.0893 31.8543 33.2617 33.899L33.2617 33.899L33.2594 33.9048C33.1927 34.0757 33.1262 34.2477 33.0599 34.421C32.4838 32.8593 31.8873 31.3948 31.2702 30.0277C30.6378 28.4714 30.0277 27.1045 29.4399 25.9282C28.908 24.7675 28.4982 23.8514 28.2098 23.1784L28.2098 23.1784L28.2073 23.1728L18.5891 1.45888L18.4573 1.16138H18.1319H2.46581H1.68544L2.01156 1.87033L25.4743 52.8763Z"
            stroke="#00C2FF"
          />
        </svg>
        <div
          id="heroSeparator"
          class="mx-6 origin-center scale-y-0 self-stretch rounded border-l-4 border-white motion-reduce:scale-y-100 sm:mx-8 lg:mx-12"
        ></div>
        <div class="px-2 py-4">
          <div id="heroText" class="opacity-0 motion-reduce:opacity-100">
            <h1 id="heroTitle" class="text-2xl font-semibold sm:text-5xl lg:text-6xl">Vincent V</h1>
            <div class="mt-5">
              <div id="heroDesc" class="opacity-0 motion-reduce:opacity-100">
                <h3 id="subtitle" class="pl-1 text-sm font-medium sm:text-base lg:text-lg">
                  CS Master's <br class="inline sm:hidden">
                  @ Purdue University
                </h3>
                <div id="links" class="mt-5 pl-0.5 text-3xl lg:text-4xl">
                  <a
                    class="group relative inline-block hover:cursor-pointer motion-reduce:hover:animate-none "
                    href="https://github.com/vivCoding"
                    title="GitHub"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="fill-white transition group-hover:scale-125 group-hover:opacity-70 motion-reduce:group-hover:scale-100"
                      height="1em"
                      viewBox="0 0 496 512"
                    >
                      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                      <path
                        d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
                      />
                    </svg>
                    <span
                      class="pointer-events-none absolute left-1/2 top-full mt-3 block w-24 -translate-x-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:left-1/2 after:top-0 after:-translate-x-1/2 after:-translate-y-full after:border-x-8 after:border-b-8 after:border-x-transparent after:border-b-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover:pointer-events-auto group-hover:opacity-100"
                    >
                      GitHub
                    </span>
                  </a>
                  <a
                    class="group relative inline-block hover:cursor-pointer  motion-reduce:hover:animate-none "
                    href="https://www.linkedin.com/in/vincent-v-"
                    title="LinkedIn"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="fill-white transition group-hover:scale-125 group-hover:opacity-70 motion-reduce:group-hover:scale-100"
                      height="1em"
                      viewBox="0 0 448 512"
                    >
                      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                      <path
                        d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                      />
                    </svg>
                    <span
                      class="pointer-events-none absolute left-1/2 top-full mt-3 block w-24 -translate-x-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:left-1/2 after:top-0 after:-translate-x-1/2 after:-translate-y-full after:border-x-8 after:border-b-8 after:border-x-transparent after:border-b-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover:pointer-events-auto group-hover:opacity-100"
                    >
                      LinkedIn
                    </span>
                  </a>
                  <a
                    class="group relative inline-block hover:cursor-pointer motion-reduce:hover:animate-none "
                    href="/blog"
                    title="Little corner"
                  >
                    <svg
                      class="fill-white transition group-hover:scale-125 group-hover:opacity-70 motion-reduce:group-hover:scale-100"
                      xmlns="http://www.w3.org/2000/svg"
                      height="1em"
                      viewBox="0 0 512 512"
                    >
                      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                    </svg>
                    <span
                      class="pointer-events-none absolute left-1/2 top-full mt-3 block w-24 -translate-x-1/2 rounded bg-slate-700 bg-opacity-90 p-2 text-center text-sm opacity-0 transition delay-0 after:absolute after:left-1/2 after:top-0 after:-translate-x-1/2 after:-translate-y-full after:border-x-8 after:border-b-8 after:border-x-transparent after:border-b-slate-700 after:border-opacity-90 after:bg-opacity-90 after:content-[''] group-hover:pointer-events-auto group-hover:opacity-100"
                    >
                      Little corner
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="-mt-16 scroll-mt-24 px-10 motion-reduce:-mt-0 sm:px-20 xl:scroll-mt-36 2xl:px-32">
      <h1 class="group mb-6 w-fit text-4xl font-medium sm:mb-10 sm:text-5xl xl:mb-16 xl:text-7xl">
        <span class="about-line-word inline-block opacity-0 animation-delay-[0ms] motion-reduce:animate-none motion-reduce:opacity-100"
          >About</span
        >
        <span class="about-line-word inline-block opacity-0 animation-delay-[250ms] motion-reduce:animate-none motion-reduce:opacity-100"
          >Me</span
        >
        <span
          id="about-line-emoji"
          class="-ml-4 inline-block origin-bottom-right animate-wave opacity-0 animation-delay-[500ms] animation-duration-500 group-hover:animate-[wave_infinite] motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:group-hover:animate-none xl:-ml-8"
          >👋</span
        >
      </h1>

      {% comment %} ig a bit more scalable, since now i can insert mini links wherever i want if i want {% endcomment %}
      {% assign sentence1 = "I am currently a Master's student in CS at Purdue University." | split: " " %}
      {% assign sentence2 = "I like web dev and generative AI, especially code generation." | split: " " %}
      {% assign sentence3 = "I also like making fun and useful things." | split: " " %}
      {% assign sentence4 = "My current favorite sorting algorithm is" | split: " " %}

      {% assign delay = 500 %}
      <p class="my-8 text-lg sm:my-8 sm:text-2xl xl:my-14 xl:text-4xl">
        {% for word in sentence1 %}
          <span class="about-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]">
            {{ word }}
          </span>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
      </p>

      {% assign delay = delay | plus: 50 %}
      <p class="my-8 text-lg sm:my-8 sm:text-2xl xl:my-14 xl:text-4xl">
        {% for word in sentence2 %}
          <span class="about-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]">
            {{ word }}
          </span>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
      </p>

      {% assign delay = delay | plus: 50 %}
      <p class="my-8 text-lg sm:my-8 sm:text-2xl xl:my-14 xl:text-4xl">
        {% for word in sentence3 %}
          <span class="about-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]">
            {{ word }}
          </span>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
      </p>

      {% assign delay = delay | plus: 50 %}
      <p class="my-8 text-lg sm:my-8 sm:text-2xl xl:my-14 xl:text-4xl">
        {% for word in sentence4 %}
          <span class="about-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]">
            {{ word }}
          </span>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
        <span
          class="about-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]"
        >
          <a
            href="https://en.wikipedia.org/wiki/Bogosort"
            class="m-0 font-semibold text-[#00C2FF] transition duration-200 hover:text-blue-100"
            target="_blank"
            rel="noreferrer noopener"
            >bogosort</a
          >.
        </span>
      </p>
    </section>
    <section id="projects" class="my-24 scroll-mt-24 px-10 sm:px-20 lg:my-36 xl:scroll-mt-36 2xl:px-32">
      <h1 class="group w-fit text-4xl font-medium sm:text-5xl xl:text-7xl">
        <span class="projects-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100"
          >Projects</span
        >
        <span
          id="projects-line-emoji"
          class="-ml-4 inline-block animate-bop opacity-0 animation-delay-[250ms] animation-duration-1000 group-hover:animate-[bop_infinite] motion-reduce:animate-none motion-reduce:opacity-100  motion-reduce:group-hover:animate-none xl:-ml-6"
        >
          👨‍💻
        </span>
      </h1>
      <h5 class="mt-4 text-sm sm:mt-6 sm:text-base xl:mt-10 xl:text-xl">
        {% assign text = "A collection of my works, big and small" | split: " " %}
        {% for word in text %}
          <span class="projects-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{- forloop.index0 | times: 50 | plus: 250 -}}ms]">
            {{ word }}
          </span>
        {% endfor %}
      </h5>
      <div id="projectsList" class="mt-4 grid grid-cols-1 gap-8 lg:grid-cols-2 xl:mt-8">
        {% assign delay = 250 %}
        {% for project in projects %}
          {% assign delay = delay | plus: 50 %}
          <div
            class="projectCard group flex w-full flex-col items-center rounded-2xl bg-white text-black opacity-0 transition hover:scale-105 motion-reduce:opacity-100 motion-reduce:hover:scale-100 sm:flex-row animation-delay-[{{ delay }}ms]"
          >
            <div class="flex w-full flex-col items-center p-5 pb-0 sm:flex-row sm:pb-5 sm:pr-0">
              <img src="{{ project.image }}" class="max-h-32 w-32 rounded border-2 border-solid border-slate-200">
              <div class="projectCardContent mt-2 text-center sm:ml-5 sm:text-left">
                <h6 class="text-lg font-medium">{{ project.title }}</h6>
                <p class="mt-1 text-sm sm:mt-2 xl:text-base">{{ project.description }}</p>
              </div>
            </div>
            <a
              href="{{ project.link }}"
              title="{{ project.title }}"
              target="_blank"
              rel="noreferrer noopener"
              class="flex flex-row items-center rounded-2xl rounded-l-none bg-clip-content p-5 transition hover:bg-slate-200 sm:ml-1 sm:h-full sm:w-8 sm:p-0"
            >
              <span class="mr-1 inline font-bold sm:hidden">View</span>
              <svg
                class="-mb-[2px] inline align-middle sm:hidden"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5 12h14"/><path d="m12 5 7 7-7 7"/>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="hidden h-full w-full -translate-x-[100%] opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100 motion-reduce:translate-x-0  motion-reduce:opacity-100 sm:inline-block"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m 9 20 6 -8 -6 -8" />
              </svg>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
    <section id="contact" class="my-24 px-10 sm:px-20 lg:my-36 2xl:px-32">
      <h1 class="group mb-4 w-fit text-4xl font-medium sm:mb-6 sm:text-5xl xl:mb-10 xl:text-7xl">
        <span class="contact-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100"
          >Contact</span
        >
        <span
          id="contact-line-emoji"
          class="-ml-4 inline-block opacity-0 animation-delay-[250ms] motion-reduce:animate-none motion-reduce:opacity-100 xl:-ml-10"
        >
          <span class="inline-block group-hover:animate-swoosh motion-reduce:group-hover:animate-none">📨</span>
        </span>
      </h1>
      {% assign sentence1 = "Got a question or comment?" | split: " " %}
      {% assign sentence2 = "Send me a message through this" | split: " " %}
      {% assign delay = 250 %}

      <p class="my-2 text-sm sm:my-4 sm:text-base xl:my-8 xl:text-xl">
        {% for word in sentence1 %}
          <span class="contact-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]">
            {{- word -}}
          </span>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
      </p>

      {% assign delay = delay | plus: 50 %}
      <p class="my-2 text-sm sm:my-4 sm:text-base xl:my-8 xl:text-xl">
        {% for word in sentence2 %}
          <span class="contact-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]">
            {{- word -}}
          </span>
          {% assign delay = delay | plus: 50 %}
        {% endfor %}
        <span
          class="contact-line-word inline-block opacity-0 motion-reduce:animate-none motion-reduce:opacity-100 animation-delay-[{{ delay }}ms]"
        >
          <a
            href="https://forms.gle/ThEVfFZfQopvp1929"
            class="m-0 font-semibold text-[#00C2FF] transition duration-200 hover:text-blue-100"
            target="_blank"
            rel="noreferrer noopener"
            >form</a
          >!
        </span>
      </p>
    </section>
  </body>
  <script type="module" src="/scripts/index.ts"></script>
</html>
